.body {
    background-color: black;
}
.header {
    display: flex;
    padding: 20px 35px;
    align-items: center;
    background-color: black;
    justify-content: space-around;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-text {
    padding-left: 15px;
    font-weight: 700;
    font-size: 26px;
    line-height: 22px;
    color: white;
    margin: 0;
}
.navigation-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation-link {
    margin-right: 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
    color: white;
}
.navigation-link:hover {
    text-decoration: underline white;
}
.logout {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background-color: black;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    margin: 0;
    transition: all 0.7s ease-out;
}
.logout:hover {
    transform: scale(1.2);
}
.user-in {
    margin-bottom: 0;
    color: white;
    padding-right: 25px;
    margin-left: 250px;
}
.sticky-header {
    background: rgba(0, 0, 0, 0.9);
    padding:10px 0 10px 18px;
    width: 600px;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 1;
    border-left:1px solid grey;
    border-right:1px solid grey;
}
.back-link-header {
    align-self: center;
    grid-area: icon;
    height: 35px;
    width: 35px;
    padding-top: 7px;
}
.back-icon {
    height:15px;
    width:15px;
    margin-right:40px;
    grid-area: icon;
}
.wrapper-sticky-header {
    display: grid;
    grid-template-columns: 16px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "icon username"
        "icon tweets";
    grid-column-gap: 40px;
}
.sticky-header-username {
    font-family: "Ubuntu 400", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    margin: 0 0 4px;
    color: white;
    grid-area: username;

}
.sticky-header-total-tweets {
    color: rgb(113, 118, 123);
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    grid-area: tweets;
    margin: 0;
}
.profile-section {
    position: relative;
    width: 600px;
    margin: auto;
    border-left:1px solid grey;
    border-right:1px solid grey;

}
.profile-avatar-picture {
    position: absolute;
    top: 140px;
    left: 17px;
    border-radius: 50%;
}
.subscribe-edit-link {
    color: #FFFFFF;
    background-color: black;
    border: 1px solid white;
    border-radius: 22px;
    padding: 11px 16px;
    position: absolute;
    top: 250px;
    left: 460px;
    transition: all 0.2s ease-in;
}
.subscribe-edit-link:hover {
    background-color: rgba(255,255,255,0.2);
}
.profile-wrapper {
    padding: 0 0 20px 30px;
    margin-top: 90px;
}
.profile-description {
    margin: 23px 0 20px 0;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
}
.followers-wrapper {
    display: flex;
}
.followers {
    color: #FFFFFF;
    margin: 0 0 0 7px;
}
.following {
    color: #FFFFFF;
    margin: 0;
}
.filter-list {
    margin: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border-bottom:1px solid grey ;
}
.filter-item {
    padding: 25px 35px 25px 35px;
    transition: all 0.2s ease-in;
}
.filter-link {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 17px;
}
.filter-item:hover{
    background-color:rgba(255,255,255,0.2) ;
}
.news-feed {
    width: 600px;
    border-left:1px solid grey;
    border-right:1px solid grey;
    margin: auto;
    padding: 0;
}
.message-item {
    border-bottom: 1px solid grey;
    padding: 20px 15px 90px 75px;
    position: relative;
}
.author-link {
   display: flex;
}
.message-author {
    font-family: Arial,sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin: 16px 0 10px;
    color: white;
}
.message-author-tag {
    color: rgb(113, 118, 123);
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
    padding-top: 5px;
}
.message-author-avatar {
    border-radius: 50px;
    position: absolute;
    top: 35px;
    right: 535px;
}
.message-title {
    font-family: Arial,sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 20px;
    margin: 0;
    color: white;
}
.message-text {
    font-family: Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 7px;
    color: white;
}
.picture-container {
    width: 503px;
    max-height: 400px;
}
.message-picture {
    margin-top: 20px;
    max-height: 400px;
}
.delete-icon-form {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 27px;
    left: 565px;
}
.delete-icon-image {
    width: 14px;
    height: 14px;
}
