<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
  <title>Spring Security Example </title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/parts/style_header.css">
  <link rel="stylesheet" href="../static/css/style_login.css">
</head>
<body class="body">
<header class="header">
  <div class="logo">
    <img src="../static/img/rr.png" alt="" height="70px" width="70px">
    <h2 class="logo-text">Sweater</h2>
  </div>
  <ul class="navigation-list">
    <li class="navigation-item">
      <a class="navigation-link" href="/">Main</a>
    </li>
    <li class="navigation-item">
      <a class="navigation-link" href="">Send news</a>
    </li>
    <li class="navigation-item">
      <a class="navigation-link" href="/profile">Profile</a>
    </li>
    <li th:if="${#authentication.name == 'admin'}"  class="navigation-item">
      <a class="navigation-link" href="/user ">Admin Panel</a>
    </li>
  </ul>
</header>
<section class="section-form">
  <div class="container-form">
    <div class="wrapper">
      <h3 class="form-name">Registration</h3>
      <a class="alternative-form" th:href="@{/login}">Login</a>
    </div>
    <ul>
      <li th:each="error : ${map}" th:text="${error.getValue()}" class="error" />
    </ul>
    <p th:if="${passwordError}" th:text="${passwordError}" class="error"></p>
    <form  class="form" th:action="@{/registration}" method="post">
      <label >
        <input type="text" name="username"  placeholder="Username" class="input">
      </label>
      <label >
        <input type="email" name="email" placeholder="email@email.com" class="input">
      </label>
      <label >
        <input type="password" name="password" placeholder="Password" class="input">
      </label>
      <label >
        <input type="password" name="password2" placeholder="Password Confirm" class="input">
      </label>
      <label class="checkbox">
        <input type="checkbox" name="terms">
        <span class="custom-checkbox"></span>
        Agree to Terms and Conditions
      </label>
      <button  class="submit-button" type="submit">Create account</button>
    </form>
  </div>
</section>
</body>
</html>